LINEAR_API_KEY=
GITHUB_PAT_KEY=
IMGBB_API_KEY=
# ngrok auth token from https://dashboard.ngrok.com/get-started/your-authtoken
NGROK_AUTHTOKEN=
# Determines the maximum number of agents that can be spawned at once.
MAX_SPAWN_AGENTS=5
AGENT_PORT_MIN=7000
AGENT_PORT_MAX=7100