@import "tailwindcss";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
    --border: #e2e2e2;
    --input: #e2e2e2;
    --ring: #0a0a0a;
    --primary: #f59e0b;
    --primary-foreground: #ffffff;
    --secondary: #f4f4f5;
    --secondary-foreground: #18181b;
    --muted: #f4f4f5;
    --muted-foreground: #71717a;
    --accent: #f4f4f5;
    --accent-foreground: #18181b;
    --destructive: #ef4444;
    --destructive-foreground: #ffffff;
    --card: #ffffff;
    --card-foreground: #0a0a0a;
    --popover: #ffffff;
    --popover-foreground: #0a0a0a;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #fafafa;
    --border: #27272a;
    --input: #27272a;
    --ring: #fafafa;
    --primary: #f59e0b;
    --primary-foreground: #0a0a0a;
    --secondary: #27272a;
    --secondary-foreground: #fafafa;
    --muted: #27272a;
    --muted-foreground: #a1a1aa;
    --accent: #27272a;
    --accent-foreground: #fafafa;
    --destructive: #7f1d1d;
    --destructive-foreground: #fafafa;
    --card: #0a0a0a;
    --card-foreground: #fafafa;
    --popover: #0a0a0a;
    --popover-foreground: #fafafa;
  }
}
